@import url(style.css);

main{
    padding: 16rem;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form-contact{
    animation: topDownOpacityAnimation 2000ms;
    margin-top: .8rem;
    display: grid;
    gap: 4.8rem;
    align-items: last baseline;
    justify-content: center;
}

main h1{
    background: rgb(156, 30, 30);
    color: white;
    padding: 16rem;
    text-align: center;
    border-radius: 8rem 8rem 0rem 0rem;
}

.form-contact legend{
    display: none;
}

.number {
    text-align: center;
    align-items: end;
    justify-items: end;
    font-size: 16rem;
    padding-top: 0rem;
}

fieldset{
    padding: 16rem;
    border-radius: 0rem 0rem 8rem 8rem;

    background: rgba(46, 45, 45, 0.3);
    border: solid 1rem #fcfcfc;
}

.inputBox label{
    font-weight: bold;
    color: white;
}

.inputBox input, .inputBox select, .inputBox textarea{
    width: 100%;
    margin-top: 4rem;
    padding: 4rem;
    
    border-radius: 4rem;
    border: solid 1rem #ffffff;
}

.inputBox input:focus, .inputBox select:focus, .inputBox textarea:focus{
    outline: solid 1rem #be574b;
}

.inputBox textarea{
    resize: none;
}

form button{
    width: 100%;
    padding: 8rem;

    background: #03CE65;
    color: white;
    font-size: 16rem;

    border: none;
    border-radius: 8rem;

    margin-top: 16rem;

    cursor: pointer;
}

form button:hover{
    background: #0cdb70;
}

@media(min-width: 480px) {
   .form-contact{
    display: flex;
    gap: 64rem;
   }
} 